<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="Books new">
  <h2>Add new Book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Book form fields">

    <tr>
      <th>Title</th>
      <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= f.text_field(:author) %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= f.select(:genre,['Fantasy','Adventure','Romance''Contemporary','Dystopian',
      'Mystery','Thriller','Paranormal','Historical','Fiction','Science Fiction',
      'Memoir','Cooking','Art','Self-help / Personal','Development','Motivational',
      'Health','History','Travel','Guide / How-to','Families & Relationships',
      'Humor','Children’s'] ) %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= f.text_field(:price) %></td>
    </tr>
    <tr>
      <th>Publish Date</th>
      <td><%= f.text_field(:date) %></td>
    </tr>

    </table>
    <div class="form-buttons">
      <%= f.submit("Add Book") %>
    </div>

  <% end %>
</div>
